#  Local directories
**/terraform-aws-bigip-module

# Terraform files
*.tfvars
.terraform.lock.hcl
.terraform
terraform.tfstate
terraform.tfstate.backup
*.pem

# OS X files
.DS_Store

# VSCode files
.vscode

# File where I store potential login and password
login.txt
